In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR']='/content'

In [ ]:
!unzip \*.zip && rm *.zip

Archive:  archive (1).zip
  inflating: CAR DETAILS FROM CAR DEKHO.csv
  inflating: Car details v3.csv
  inflating: car data.csv

In [ ]:
import pandas as pd
df=pd.read_csv('car data.csv')
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
df.shape

(301, 9)

In [ ]:
print(df['Fuel_Type'].unique())

['Petrol' 'Diesel' 'CNG']

In [ ]:
print(df['Seller_Type'].unique())

['Dealer' 'Individual']

In [ ]:
print(df['Transmission'].unique())

['Manual' 'Automatic']

In [ ]:
print(df['Owner'].unique())

[0 1 3]

In [ ]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [ ]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [ ]:
final_dataset=df[['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']]

In [ ]:
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Seller_Type Transmission Owner
0  2014           3.35           5.59  ...       Dealer       Manual     0
1  2013           4.75           9.54  ...       Dealer       Manual     0
2  2017           7.25           9.85  ...       Dealer       Manual     0
3  2011           2.85           4.15  ...       Dealer       Manual     0
4  2014           4.60           6.87  ...       Dealer       Manual     0

[5 rows x 8 columns]

In [ ]:
final_dataset['Current_year']=2021
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Transmission Owner Current_year
0  2014           3.35           5.59  ...        Manual     0         2021
1  2013           4.75           9.54  ...        Manual     0         2021
2  2017           7.25           9.85  ...        Manual     0         2021
3  2011           2.85           4.15  ...        Manual     0         2021
4  2014           4.60           6.87  ...        Manual     0         2021

[5 rows x 9 columns]

In [ ]:
final_dataset['No_years']=final_dataset['Current_year']-final_dataset['Year']
final_dataset.head()

   Year  Selling_Price  Present_Price  ...  Owner Current_year No_years
0  2014           3.35           5.59  ...      0         2021        7
1  2013           4.75           9.54  ...      0         2021        8
2  2017           7.25           9.85  ...      0         2021        4
3  2011           2.85           4.15  ...      0         2021       10
4  2014           4.60           6.87  ...      0         2021        7

[5 rows x 10 columns]

In [ ]:
final_dataset.drop(['Year'],axis=1,inplace=True)
final_dataset.drop(['Current_year'],axis=1,inplace=True)
final_dataset.head()

   Selling_Price  Present_Price  Kms_Driven  ... Transmission Owner No_years
0           3.35           5.59       27000  ...       Manual     0        7
1           4.75           9.54       43000  ...       Manual     0        8
2           7.25           9.85        6900  ...       Manual     0        4
3           2.85           4.15        5200  ...       Manual     0       10
4           4.60           6.87       42450  ...       Manual     0        7

[5 rows x 8 columns]